<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src = "/static/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-route.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/app.css">
</head>
<body ng-app="myApp">
  <header>
      <ul>
          <li><a href="./">Home</a></li>
          <li class="active"><a href="./cadastro">Cadastrar</a></li>
      </ul>
  </header>
	<fieldset>
		<form class="form_login" ng-controller="check_login" ng-submit="cadastrar()"> 
			<p>Preencha os dados abaixo para ter acesso ao nosso sistema:</p>
					<div class="container1"> 
						<label><b>Nome</b></label><br>
						<input type="text" placeholder="Digite o nome" ng-model="dados.nome"><br>
						<label><b>Login</b></label><br>
						<input type="text" placeholder="Digite o login" ng-model="dados.login"><br>
						<label><b>Password</b></label><br>
						<input type="password" placeholder="Digite a senha" ng-model="dados.password"><br>
					</div>
					<div class="container11">
						<img src ="/static/img/user.png" align="right" width="30%"/><br>
					</div>
					<div class="container2">				
						<button type="submit" id="btn_save" class="btn btn-success">Cadastrar</button>
					</div>			
		</form>
	</fieldset>
</body>
</html>
</html>
